<div class="container navbar-container">
  <a class="navbar-brand" href="/" title="Tes Official Website">Tes Official Website</a>
  <button class="navbar-toggler hamburger hamburger--squeeze" type="button" data-toggle="collapse" data-target="#navbarResponsive">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto navbar-menu">
      <li class="nav-item{{#if_eq showTitle 'Home page'}} active{{/if_eq}}">
        <a class="nav-link" href="/" title="Home">
          <i class="fas fa-home"></i> Home</a>
      </li>
      <li class="nav-item {{#if_eq showTitle 'Posts'}} active{{/if_eq}}">
        <a class="nav-link" href="/posts" title="Posts">
          <i class="far fa-file-alt"></i> Posts</a>
      </li>
      <li class="nav-item {{#if_eq showTitle 'About page'}} active{{/if_eq}}">
        <a class="nav-link" href="/about" title="About">
          <i class="fas fa-user-ninja"></i> About</a>
      </li>
      <li class="nav-item {{#if_eq showTitle 'Contact page'}} active{{/if_eq}}">
        <a class="nav-link" href="/contact" title="Contact us">
          <i class="far fa-paper-plane"></i> Contact us</a>
      </li>
      {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/auth/logout" title="Logout">
            Logout
            <i class="fas fa-sign-out-alt"></i>
          </a>
        </li>
        <li class="nav-item bg-primary text-center nav-name">
          <span class="nav-link text-white">Welcome {{user.username}}</span>
        </li>
        <li class="nav-item gravatar-item">
          <a href="/user/profile/{{user.username}}" title="{{user.firstname}} {{user.lastname}}">
            <img class="rounded-circle" src="{{user.gravatar}}" alt="{{user.firstname}} {{user.lastname}}" title="{{user.firstname}} {{user.lastname}}" width="34" height="34">
          </a>
        </li>
      {{else}}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="signinDropdown" role="button" data-toggle="dropdown" title="Join us">
            <i class="fas fa-sitemap"></i> Join us
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/auth/login" title="Login">
              <i class="fas fa-sign-in-alt"></i>&nbsp; Login</a>
            <a class="dropdown-item" href="/auth/register" title="Register">
              <i class="fas fa-plus"></i>&nbsp; Register</a>
          </div>
        </li>
      {{/if}}
    </ul>
  </div>
</div>
