<!DOCTYPE html>
<html lang="en">

  <head>
    {{!-- Global site tag (gtag.js) - Google Analytics --}}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125682517-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'UA-125682517-1');
      ga('set', 'userId', '{{user.id}}');
    </script>

    {{!-- Google Tag Manager --}}
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-PSNS229');</script>
    {{!-- DataLayer for GTM --}}
    <script>
      dataLayer = [{
        'pageCategory': 'post',
        'visitorType': 'user'
      }];
    </script>
    {{!-- End Google Tag Manager --}}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{descriptionTruncate post.content}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- You can use Open Graph tags to customize link previews.
    Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
    <meta property="og:url" content="/posts/{{post.slug}}">
    <meta property="og:type" content="post">
    <meta property="og:title" content="{{showTitle}}">
    <meta property="og:description" content="{{truncateText post.content}}">
    <meta property="og:image" content="/uploads/{{post.image}}">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/uploads/{{post.image}}">
    <meta name="twitter:site" content="{{author.name}}">
    <meta name="twitter:creator" content="{{author.name}}">
    <meta name="twitter:url" content="/posts/{{post.slug}}">
    <meta meta="twitter:title" content="{{post.title}}">
    <meta meta="twitter:description" content="{{truncateText post.content}}">


    <title>Tes Official Website | {{showTitle}}</title>

    <link rel="canonical" href="/posts/{{post.slug}}">

    {{> _styles}}
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PSNS229" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-navbar shadow-sm">
      {{> _navbar}}
    </nav>
    <main class="posts-main">
      <div class="container">
        {{{ body }}}
      </div>
    </main>

    {{> _footer}} {{> _libraries}}
  </body>

</html>