<div class="text-right">
  <span class="bg-primary px-2 py-1 text-white" title="Today">{{getToday}}</span>
</div>
<h1 class="mb-4">Home Page</h1>
{{!-- Deleting account Alert--}}
{{#unless user}}
  {{#if deleteAccount}}
    <div class="alert alert-warning" role="alert">
      <span><i class="far fa-sad-tear"></i> {{deleteAccount}}</span>
      <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
      </button>
    </div>
  {{/if}}
{{/unless}}

{{!-- Error Handling --}}
{{#if error}}
  <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
    <span><i class="fas fa-exclamation-triangle"></i> {{error}}</span>
    <button type="button" class="close" data-dismiss="alert">
      <span>&times;</span>
    </button>
  </div>
{{/if}}

{{!-- Cards section --}}
<section class="row main-cards-row">
  <div class="col-md-3 main-card">
    <div class="card text-white bg-primary shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Card #1</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 main-card">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Card #2</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 main-card">
    <div class="card text-white-50 bg-success shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Card #3</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3 main-card">
    <div class="card text-white bg-secondary shadow-sm">
      <div class="card-body">
        <h2 class="card-title">Card #4</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
          card's
          content.
        </p>
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-6 chart-col">
    <canvas id="myChart" width="100%" height="100%"></canvas>
    <script>
      var ctx = document.getElementById("myChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ["Users", "Posts"],
          datasets: [{
            label: 'Site Analysis',
            data: [{{ users }}, {{ posts }}],
        backgroundColor: [
          'rgba(75, 191, 115, 0.2)',
          'rgba(239, 173, 78, 0.2)'
        ],
        borderColor: [
          'rgba(75, 191, 115, 1)',
          'rgba(239, 173, 78, 1)'
        ],
        borderWidth: 2
      }]
        },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: true,
              userCallback: function (label, index, labels) {
                // when the floored value is the same as the value we have a whole number
                if (Math.floor(label) === label) {
                  return label;
                }
              },
            }
          }]
        }
      }
      });
    </script>
  </div>
  <div class="col-sm-6 chart-col">
    <canvas id="pieChart" width="100%" height="100%"></canvas>
    <script>
      // For a pie chart
      var ctx = document.getElementById("pieChart").getContext('2d');
      var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
          labels: ["Users", "Posts"],
          datasets: [{
            label: 'Site Analysis',
            data: [{{ users }}, {{ posts }}],
        backgroundColor: [
          'rgba(239, 173, 78, 0.2)',
          'rgba(75, 191, 115, 0.2)'
        ],
        borderColor: [
          'rgba(239, 173, 78, 1)',
          'rgba(75, 191, 115, 1)'
        ],
        borderWidth: 2
      }] }
      });
    </script>
  </div>
</div>