{{!-- Delete Account --}}
<form class="mb-5" id="deleteAccount" action="/user/delete/{{user.id}}?_method=DELETE" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <div class="text-right">
        <input type="submit" class="btn btn-outline-danger" value="DELETE ACCOUNT">
    </div>
</form>
{{!-- Error Handling --}}
{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
        <span><i class="fas fa-exclamation-triangle"></i> {{error}}</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
{{/if}}
{{#if user}}
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="profile-img-container text-center mb-3">
                <img class="img-fluid" src="{{user.gravatar}}" alt="{{user.name}}" title="{{user.name}}">
                <img class="verified-badge" src="/images/verified-badge.png" alt="Verified Badge" title="Verified">
            </div>
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="profile-header d-flex flex-row justify-content-between">
                {{!-- Profile Info --}}
                <div class="profile-info">
                    <h1 class="d-inline pr-3">{{user.name}}</h1><span title="Location"><i class="fas fa-map-marker-alt"></i>&nbsp; Cairo,
                        Egypt</span>
                    <p class="text-primary font-weight-bold">Web Developer</p>
                    <h3>Bio</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, minima corrupti iste perferendis
                        aut fuga nobis consequatur, repellat rerum cumque officiis aspernatur consectetur deleniti ratione
                        unde voluptatibus delectus accusantium illo.</p>
                    {{!-- Nav Tabs --}}
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#about" role="tab">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#articles" role="tab">Articles</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {{!-- Contact Info --}}
                        <div class="tab-pane fade show active" id="about" role="tabpanel">
                            <ul class="profile-info-list">
                                <li class="mb-4">
                                    <h2>Contact Info</h2>
                                </li>
                                <li class="profile-info-list-item" title="E-Mail Address">
                                    <i class="fas fa-envelope pr-3"></i> <a href="mailto:{{user.email}}" title="E-Mail Address">{{user.email}}</a>
                                </li>
                                <li class="profile-info-list-item" title="Website">
                                    <i class="fas fa-cloud pr-3"></i> <a href="https://tes3awy.github.io" target="_blank"
                                        title="Website">https://tes3awy.github.io</a>
                                </li>
                                <hr>{{!-- Basic Info --}}
                                <li class="mb-4">
                                    <h2>Basic Info</h2>
                                </li>
                                <li class="profile-info-list-item" title="Gender">
                                    <i class="fas fa-user pr-3"></i> Male
                                </li>
                                <li class="profile-info-list-item" title="Birthday">
                                    <i class="fas fa-calendar-alt pr-3"></i> Dec. 25, 1992
                                </li>
                            </ul>
                        </div>
                        {{!-- Bio --}}
                        <div class="tab-pane fade" id="articles" role="tabpanel">Lorem ipsum dolor sit, amet consectetur
                            adipisicing elit. Harum perferendis ratione ullam odio officiis corrupti voluptatum porro totam
                            maiores nisi. Tempora similique earum amet animi iste voluptates voluptas, doloribus ea.</div>
                    </div>
                </div>
                {{!-- Member Since --}}
                <div class="profile-date text-right">
                    <p class="text-muted">Member since {{user.createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
{{/if}}
