{{!-- Edit and Delete Account --}}
<div class="profile-actions text-right">
    <div class="edit-profile text-right d-inline-block">
        <a class="btn btn-outline-warning" href="/user/edit/{{user.id}}">EDIT PROFILE</a>
    </div>
    <form class="mb-5 d-inline-block" id="deleteAccount" action="/user/delete/{{user.id}}?_method=DELETE" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" class="btn btn-outline-danger" value="DELETE ACCOUNT">
    </form>
</div>

{{!-- Error Handling --}}
{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show mb-4" role="alert">
        <span><i class="fas fa-exclamation-triangle"></i> {{error}}</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
{{/if}}
{{#if user}}
    <div class="row">
        <div class="col-md-12 col-lg-4">
            <div class="profile-img-container text-center mb-2">
                <img class="w-100" src="{{user.gravatar}}" alt="{{user.name}}" title="{{user.name}}">
                <img class="verified-badge" src="/images/verified-badge.png" alt="Verified Badge" title="Verified">
            </div>
            <p class="small text-center mb-3">Change your <a href="https://en.gravatar.com" target="_blank">gravatar</a> to change your photo</p>
        </div>
        <div class="col-md-12 col-lg-8">
            <div class="profile-header d-flex flex-row justify-content-between">
                {{!-- Profile Info --}}
                <div class="profile-info w-100">
                    <h1 class="d-inline pr-3">{{user.name}}</h1><span title="Location"><i class="fas fa-map-marker-alt"></i>&nbsp;
                        {{city}}, {{country}}</span>
                    <p class="text-primary font-weight-bold">{{user}}</p>
                    <h3>Bio</h3>
                    <div class="bio-content w-100">
                        <p>{{user}}</p>
                    </div>
                    {{!-- Nav Tabs --}}
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#about" role="tab" title="About you">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#posts" role="tab" title="Your posts">Posts</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        {{!-- Contact Info --}}
                        <div class="tab-pane fade show active" id="about" role="tabpanel">
                            <ul class="profile-info-list">
                                <li class="mb-4">
                                    <h2>Contact Info</h2>
                                </li>
                                <li class="profile-info-list-item" title="E-Mail Address">
                                    <i class="fas fa-envelope pr-3 text-info"></i> <a href="mailto:{{user.email}}"
                                        title="E-Mail Address">{{user.email}}</a>
                                </li>
                                <li class="profile-info-list-item" title="Website">
                                    <i class="fas fa-cloud pr-3 text-info"></i> <a href="{{user}}"
                                        target="_blank" title="Website">{{user}}</a>
                                </li>
                                <hr>
                                {{!-- Basic Info --}}
                                <li class="mb-4">
                                    <h2>Basic Info</h2>
                                </li>
                                <li class="profile-info-list-item" title="Gender">
                                    <i class="fas fa-user pr-3 text-info"></i> {{user}}
                                </li>
                                <li class="profile-info-list-item" title="Birthday">
                                    <i class="fas fa-calendar-alt pr-3 text-info"></i> {{user}}
                                </li>
                                <li class="profile-info-list-item" title="">
                                    <input type="text" id="date">
                                </li>
                            </ul>
                        </div>
                        {{!-- Bio --}}
                        <div class="tab-pane fade" id="posts" role="tabpanel"></div>
                    </div>
                </div>
                {{!-- Member Since --}}
                <div class="profile-date text-right">
                    <p class="text-muted">Member since {{user.createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
{{/if}}
