
{{#if user}}
    <div class="text-right add-post-btn-container">
        <a class="btn btn-info" href="/posts/add" title="Add new post">
            <i class="fas fa-plus-circle" id="addPostIcon"></i> Add new article</a>
    </div>
{{/if}}

{{#if success}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{!-- <i class="far fa-thumbs-up"></i> --}}
        <span><i class="far fa-check-circle"></i> {{success}}</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
{{/if}}

{{#if error}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <span><i class="fas fa-exclamation-triangle"></i> {{error}}</span>
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
{{/if}}

{{#if posts}}
    <div class="row">
        {{#each posts}}
            {{!-- Loop starts here --}}
            <div class="col-12 post-col">
                <div class="card shadow post">
                    {{#if featured}}
                        <div class="box" title="Featured">
                            <div class="ribbon">
                                <span>Featured</span>
                            </div>
                        </div>
                    {{/if}}
                    <ul class="posts-list">
                        <li class="posts-list-item post-img">
                            <a href="/uploads/{{this.image}}" data-toggle="lightbox">
                                <img class="post-image" src="/uploads/{{this.image}}" alt="{{this.title}}" title="{{this.title}}">
                            </a>
                        </li>
                        <li class="posts-list-item post-desc">
                            <div class="desc">
                                <h2 class="post-title text-dark">{{htmlDecode this.title}}</h2>
                                <div class="text-dark">
                                    {{{trimString this.content}}}...
                                </div>
                                <p class="text-right my-2">
                                    <a class="btn btn-secondary" href="/posts/post/{{this.id}}">Read more
                                        <i class="fas fa-chevron-right"></i>
                                    </a>
                                </p>
                                <p class="d-inline-block text-muted mb-0">{{getPrettyDate this.createdAt}} - </p>
                                <p class="d-inline-block text-muted mb-0">
                                    <i class="text-info fas fa-comments comments"></i>
                                    <a class="text-muted" title="{{this.title}} comments" href="/posts/post/{{this.id}}#disqus_thread">0 Comments</a>
                                </p>
                                <span class="text-dark">-</span>
                                <p class="d-inline-block text-muted mb-0">
                                    <i class="text-success fas fa-eye views"></i>
                                    <a class="text-muted" title="{{this.title}} views">0 Views</a>
                                </p>
                            </div>
                            {{!-- Post extra features --}}
                            <div class="post-tag-wrapper">
                                <div class="post-tag shadow" id="{{this.id}}">
                                    <i class="far fa-meh text-warning"></i>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {{!-- Left purple border --}}
                    <div class="post-border-style"></div>
                </div>
            </div>
            {{!-- Loop ends here --}}
        {{/each}}
    </div>
{{else}}
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h3 class="display-4 text-center text-danger">No posts found!!!</h3>
        </div>
    </div>
{{/if}}
