<div class="row">
  <div class="col-sm-8 mx-auto">
    <div class="post-container">
      <div class="back-to-posts text mb-3">
        <a class="btn btn-info" href="/posts">
          <i class="fas fa-chevron-left pr-2"></i> Back</a>
      </div>
      <div class="post-title">
        <h2>{{post.title}}</h2>
        <div class="post-created text-right">
          <p class="text-right text-info mb-0 d-inline-block">{{getPrettyDate post.createdAt}}</p>
        </div>
        {{!-- Social Media Shares --}}
        <div class="post-shares">
          <ul class="social-media-list">
            <li class="social-media-item">
              <a class="twitter-share-button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-show-count="true"></a>
              <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </li>
            <li class="social-media-item">
              <div class="fb-share-button" data-href="/posts" data-layout="button_count" data-size="small" data-mobile-iframe="true">
                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse"
                  class="fb-xfbml-parse-ignore">Share</a>
              </div>
            </li>
            <li class="social-media-item">
              {{!-- <script src="https://apis.google.com/js/platform.js" async defer></script> --}}
              <div class="g-plus" data-action="share" data-annotation="bubble" data-href="/posts/post/{{post.id}}?key=AIzaSyCSInH_wRti3xy9Rwe7FBdZMjuFBajuukE"></div>
              <script type="text/javascript">
                (function () {
                  var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                  po.src = 'https://apis.google.com/js/platform.js';
                  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
              </script>
            </li>
            <li class="social-media-item">
              <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script>
              <script type="IN/Share"></script>
            </li>
          </ul>
        </div>
      </div>
      <div class="post-body">
        <div class="post-image-container text-center my-3">
          <a href="/uploads/{{post.image}}" data-toggle="lightbox">
            <img class="img-fluid" src="/uploads/{{post.image}}" alt="{{post.title}} Image" title="{{post.title}} Image">
          </a>
        </div>
        <div class="post-body-content">
          {{{htmlDecode post.content}}}
        </div>
        {{#if_eq user.id post.userId}}
          <div class="post-edit text-right mt-3">
            <a class="btn btn-warning" href="/posts/post/edit/{{post.id}}"><i class="fas fa-marker pr-2"></i> Edit post</a>
          </div>
        {{/if_eq}}
        <hr>
        <h2>Comments</h2>
        <hr class="bg-primary" style="max-width: 12%; margin-left: 0;">
        <section class="mb-3" id="disqus_thread"></section>
        {{!-- Disqus --}}
        <script>
          var disqus_config = function () {
            this.page.url = window.location.href; // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = window.location.href.substr(window.location.href.lastIndexOf('/') + 1); // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://tes9.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">comments powered by
            <a href="https://disqus.com/" target="_blank">Disqus</a>.</a>
        </noscript>
      </div>
    </div>
  </div>
</div>
